# Тяжёлые файлы
*.mp4
*.zip
*.rar
*.7z
*.iso
*.exe
*.dll
*.obj
*.o
*.bin
*.psd
*.ai

# Word/Excel/PowerPoint
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# Сборка C++
build/
*.out
a.exe

# IDE
.vscode/
.idea/
*.user
